.alert{
	height: 30px;
	text-align: center;
	font-family: "微软雅黑";
	color: #fff;
	font-size: 12px;
	background: #FD5A9C;
	line-height: 30px;
}
.apply{
	margin: 20px 20px;
	
}
.apply div{
	width: 100%;
	height: 42px;
	border: 1px solid #CCCCCC;
	margin-bottom: 10px;
	clear: both;
	background: #fff;
	
}
.apply div input{
	border: none;
	width: 80%;
	color: #C3C3C3;
	font-family: "微软雅黑";
	font-size: 12px;
	float: left;
	margin-bottom: 0;
	
}
.apply div label{
	width: 40px;
	height: 40px;
	float: right;
	background:url(../img/下拉展开.png) no-repeat center;
	background-size: 40% 30%;
}
#fixed{
	float: left;
	background:none;
	width: 100%;
	font-family: "微软雅黑";
	line-height:40px;
	text-align: left;
	font-size: 12px;
	color: #999;
	text-indent: 16px;

}
.apply .dropDownInfo{
	width: 100%;
	height: auto;
	background: #fff;
	display: none;
	border-top: none;
	overflow: hidden;
}
.apply ul{
	margin: 0;
	padding: 0;
	margin: 10px 20px;
}

.apply .dropDownInfo ul li{
	list-style: none;
	border-bottom: 1px solid #ccc;
	color: #999;
	font-family: "微软雅黑";
	
}
.apply .dropDownInfo ul li:nth-last-child(1){
	border-bottom: none;
}
.apply .dropDownWeek{
	width: 100%;
	height: auto;
	background: #fff;
	display: none;
	border-top: none;
	overflow: hidden;
}
.apply .dropDownWeek ul li{
	list-style: none;
	border-bottom: 1px solid #ccc;
	color: #999;
	font-family: "微软雅黑";
	
}
.apply .dropDownWeek ul li:nth-last-child(1){
	border-bottom: none;
}
#camera{
	background: url(../img/上传照片.png) no-repeat center;
		background-size:60% 50%;
}
.agree{
	margin: 20px 20px;
}
.agree input{
	float: left;
}
.agree p{
	font-size: 10px;
	font-family: "微软雅黑";
	height: 10px;
	line-height: 10px;
}
.agree p a{
	font-size: 10px;
	font-family: "微软雅黑";
}
.middle{
	width: 210px;
	margin-left: auto;
	margin-right: auto;
}
button{
	clear: both;
	width: 210px;
	height: 33px;
	background: #fd5a9c;
	margin: 0px auto;
	color: #fff;
	font-size: 12px;
	font-family: "微软雅黑";
	border-radius: 20px;
	border: none;
	margin: 20px 0px;
}







