.alert{
	height: 0.3rem;
	text-align: center;
	font-family: "微软雅黑";
	color: #fff;
	font-size: 0.12rem;
	background: #FD5A9C;
	line-height: 0.3rem;
}
.apply{
	margin: 0.2rem;
	
}
.tips{
	text-align: center;
	font-size: 0.12rem;
	color: #999;
	margin: 0.10rem 0px;
	font-family:"微软雅黑" ;
}
.apply div{
	width: 100%;
	height: 0.42rem;
	border: 1px solid #CCCCCC;
	margin-bottom: 0.1rem;
	clear: both;
	background: #fff;
}
.apply .showChose{
	height: auto;
	clear: both;
	margin: 0;
	padding: 0;
	border-top: 1px solid #fff;
	display: none;
	
	
}
.apply .showChose ul{
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
	margin: 0rem 0.3rem;
}
.apply .showChose ul li{
	margin: 0.12rem 0rem;
	border-bottom: 1px solid #ccc;
	padding-bottom: 0.1rem;
}
.apply .showChose ul li a{
	font-family: "微软雅黑";
	color: #007AFF;
	font-size: 0.12rem;
}
.apply .showChose ul li a:active{
	color: #333;
}
.apply .showChose ul li:nth-child(2){
	border: none;
}
.apply div input{
	border: none;
	width: 80%;
	color: #C3C3C3;
	font-family: "微软雅黑";
	font-size: 0.12rem;
	float: left;
	
}
.apply div label{
	width: 0.4rem;
	height: 0.4rem;
	float: right;
	background:url(../img/下拉展开.png) no-repeat center;
	background-size: 40% 30%;
}
.middle{
	width: 2.1rem;
	margin-left: auto;
	margin-right: auto;
}

button{
	clear: both;
	width: 2.1rem;
	height: 0.33rem;
	background: #fd5a9c;
	margin: 0px auto;
	color: #fff;
	font-size: 0.12rem;
	font-family: "微软雅黑";
	border-radius: 0.2rem;
	border: none;
	margin: 0.2rem 0px;
}
#conEcod{
	width: 40%;
	
}
#getEcod{
	background: none;
	background: #fd5a9c;
	width: 1rem;
	text-align: center;
	line-height: 0.4rem;
	color: #fff;
	font-family: "微软雅黑";
	font-size: 0.14rem;
	
}
#cheer{
	height: 0.4rem;
	margin-top: 0;
	margin-bottom: 0;
}





