html,body{width: 100%; height: 100%;}
*{outline: none; font-family: "Microsoft Yahei",Helvetica,Arial,sans-serif}
body,ul,li{margin: 0;padding: 0;font-size: 14px;}
body{ background-image: url(http://7xlcaq.com2.z0.glb.qiniucdn.com/ry-xiaomei-bg.jpg);
	background-repeat: no-repeat; background-size: 100%; overflow: hidden;}
h1,h2,h3,h4,h5,h6,p{margin: 0;padding: 0;}
li{list-style: none;}
a{text-decoration: none;}
header,footer{display: block;}
/* nav */
.nav-box{ width: 100%; margin: 0 auto; float: left;background-color: rgba(0,0,0,0.6);}
.nav-box ul{width: 1100px; margin: 0 auto;}
.nav-box a{ width: 220px; height: 60px;line-height: 60px; color: white; font-size: 20px;text-align: center;
	float: left;}
.nav-box a:hover{background-color: rgba(255,255,255,0.2);}
/* nav end */
/* content */
.img-box{width: 1100px; position: absolute; top:80px; left: 50%; margin-left: -550px; overflow: hidden;}
.img-box .chat{margin:5px 0; clear: both;}
.img-box .img-left{float: left;position: relative;left: 0;opacity: 0;transition:all 1.3s;}
.img-box .img-right{float: right;position: relative;opacity: 0;right:0;transition:all 1.3s;}
.tell-box{font-weight: bold; font-size: 20px;float:left; margin-left: 100px;position: relative;top:20px;opacity: 0;
		transition:all 1.3s;
		text-shadow:#fff 1px 0 0,#fff 0 1px 0,#fff -1px 0 0,#fff 0 -1px 0;
		-webkit-text-shadow:#fff 1px 0 0,#fff 0 1px 0,#fff -1px 0 0,#fff 0 -1px 0;
		-moz-text-shadow:#fff 1px 0 0,#fff 0 1px 0,#fff -1px 0 0,#fff 0 -1px 0;
	}
.tell-box p{margin-bottom: 10px;}
.tell-box strong{color: red;}
/* content end */