.alert{
	height: 0.3rem;
	text-align: center;
	font-family: "微软雅黑";
	color: #fff;
	font-size: 0.12rem;
	background: #FD5A9C;
	line-height: 0.3rem;
}
.mui-content{
	background: #f4f4f4;
}

.step{
	margin: 0;
}
.showStep{
	height: 1rem;
	background: #f4f4f4;
	overflow: hidden;
	text-align: center;
	width:3.2rem;
	margin-left: auto;
	margin-right: auto;
}
.showStep ul{
	height: 1rem;
	margin: 0;
	padding: 0;
	margin: 0.13rem 0.2rem;
	list-style: none;
	text-align: center;
	
}
.showStep ul li{
	float: left;
	
}
.showStep ul li p{
	font-family: "微软雅黑";
	color: #fd5a9c;
}
.showStep ul li img{
	width: 0.5rem;
	
}
.showStep .line{
	width: 0.5rem;
	height: 0.5rem;
	background: url(../img/line.jpg) no-repeat center;
	
}
.replay{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	color: #007AFF;

	text-align: center;
	
}
.middle{
	width: 2.1rem;
	margin-left: auto;
	margin-right: auto;
}
.ok{
	clear: both;
	width: 2.1rem;
	height: 0.33rem;
	background: #fd5a9c;
	margin: 0rem auto;
	color: #fff;
	font-size: 0.12rem;
	font-family: "微软雅黑";
	border-radius: 0.2rem;
	border: none;
	margin: 0.2rem 0rem;
	
}