.alert{
	height: auto;
	min-height:0.3rem;
	text-align: center;
	font-family: "微软雅黑";
	color: #fff;
	font-size: 0.12rem;
	background: #FD5A9C;
	line-height: 0.3rem;
}
/*servicePwd*/
.servicePwd{
	margin: 0.13rem;
}
.servicePwd p{
	color: #000;
	font-size: 0.12rem;
	font-family: "微软雅黑";
	margin-bottom: 0.11rem;
}
.servicePwd span{
	display: block;
	width:0.4rem;
	height: 0.4rem;
	background: red;
	float: left;

}
.servicePwd span img{
	width:0.4rem;
	height:0.41rem;
}

.servicePwd .pwdOne{
	clear: both;
	height:0.42rem;
	border: 0.01rem solid #ccc;
	background: #FFF;
}
.servicePwd .pwdTwo{
	clear: both;
	
	height: 0.42rem;
	border: 0.01rem solid #ccc;
	background: #FFF;
}
.servicePwd input{
	height:0.40rem;
	width: 2.4rem;
	border: none;
	float: left;
	font-size: 0.12rem;
	font-family: "微软雅黑";
	

}
.servicePwd a{
	display: inline-block;
	color: #007AFF;
	font-family: "微软雅黑";
	font-size: 0.10rem;
}
.servicePwd a:nth-child(3){
	float: left;
	color: #C3C3C3;
}
.servicePwd a:nth-child(4){
	float: right;
}

/*next*/
.next{
	clear: both;
	width: 2.1rem;
	height: 0.33rem;
	background: #fd5a9c;
	margin: 0rem auto;
	color: #fff;
	font-size:0.12rem;
	font-family: "微软雅黑";
	border-radius: 0.2rem;
	border: none;
	margin: 0.4rem 0rem;
	margin-left: 20%;
}






