*{outline: none; font-family: "Microsoft Yahei",Helvetica,Arial,sans-serif;border:0px;

}
body,ul,li{margin: 0;padding: 0;font-size: 14px;}
h1,h2,h3,h4,h5,h6,p{margin: 0;padding: 0;}
li{list-style: none;}
a{text-decoration: none;}
header,footer{display: block;}
/* 返回顶部 */
.backToTop-box{ position: fixed;right: 10px; bottom:20px; z-index: 10;}
.backToTop{width: 40px; height: 40px;display: block;}
.backToTopImg{width: 100%; height: 100%;background-size: 40px 40px;background-image: url(http://7xlcaq.com2.z0.glb.qiniucdn.com/ry-backToTop-01.png);}
.backToTopImg:hover{cursor:pointer;background-image: url(http://7xlcaq.com2.z0.glb.qiniucdn.com/ry-backToTop-02.png);}
.download-APP{ margin-top: 10px; width: 40px; height: 72px; display: block;}
.downImg{width: 100%; height: 100%;border:0px;background-size: 40px 70px;background-image: url(http://7xlcaq.com2.z0.glb.qiniucdn.com/ry-download-APP-01.png);}
.downImg:hover{background-image: url(http://7xlcaq.com2.z0.glb.qiniucdn.com/ry-download-APP-02.png)}
/* 返回顶部 end */
/* 顶部 */
header{width: 1100px;margin: 0 auto;overflow: hidden;}
header img{border:0px;}
header .logo{float: left;margin: 10px 40px 10px 0;}
header form{float: left;margin:24px;}
header .search{width: 318px; height: 30px;line-height:26px;border:solid 1px #ff6ba3;padding-left:10px;
	border-radius: 5px 0 0 5px;}
header .submit{width: 78px;height: 34px;line-height: 28px; background-color: #ff6ba3;
	border-radius: 0 5px 5px 0; color: white; margin-left: -5px; vertical-align: top; border: 0px;}
header .tell{ float:right;height:83px;margin-right: 20px;}
header .tell img{width: 16px; height: 16px; padding-top: 6px; margin-left: 15px; float: left;
	vertical-align: middle;}
header .tell .not-login{color:#969696; font-size: 16px; padding-top: 3px; margin-left: 5px; float: left;line-height: 83px;}
header strong{color:#ff6ba3; font-size: 20px; float: left;margin-left: 3px;}
#login{ color: #ff6ba3;cursor:pointer;float:left;}
.logined{
	line-height: 83px;
}
.logined span{
	font-size: 13px;
}
.username{
	color:#666;
}
.exit{
	font-size: 13px;
	color:#666;
}
.phone{
	margin-top: 26px;
}
/* 顶部 end */
/* 登录 */
form{margin-top: -20px;}
.close{margin: -40px 0 20px 350px;}
.login-box{width: 100%; height: 100%; background-color:rgba(0,0,0,0.3); position: fixed; z-index: 1000;
	display: none;}
.login-small-box{width: 400px; height: 430px; background-color: #f9f9f9; border-radius: 5px;
	margin: 60px auto 0 auto; box-shadow: 0px 0px 30px #505050; padding:60px 0;cursor: pointer;}
.login-small-box h2{text-align: center; color: #ff6ba3; margin-bottom: 50px;}
.accountNumber{width: 280px; height: 50px; border: solid 1px #f4f4f4; margin: 20px auto; padding: 0 10px;
	line-height: 50px; background-color: #fff;}
.login-small-box .forgetPassword{display: block; margin: 20px 0 0 280px; color: #969696;}
.login-btn input{width: 300px; height: 50px; margin: 20px auto;line-height: 48px;background-color: #ff6ba3;
	color: white; font-size: 20px; display: block;}
.login-btn input:hover{background-color:#f25691;}
.login-small-box .register{display: block; margin: 20px auto; color: #969696;border: 1px solid #dcdcdc;
	line-height: 30px; border-radius: 3px; width: 50px; text-align: center;}
.login-small-box .register:hover{background-color: #f4f4f4;}
/* 登录 end */
/* 注册 */
.register-box{width: 100%; height: 100%; background-color:rgba(0,0,0,0.3); position: fixed; z-index: 1000;
 	display: none;}
.register-small-box{width: 400px; height: 430px; background-color: #f9f9f9; border-radius: 5px;
	margin: 60px auto 0 auto; box-shadow: 0px 0px 30px #505050; padding:60px 0;}
.register-small-box h2{text-align: center; color: #ff6ba3; margin-bottom: 20px;}
.accountNumber{width: 280px; height: 50px; border: solid 1px #f4f4f4; margin: 20px auto; padding: 0 10px;
	background-color: #fff;}
.accountNumber input{width: 280px; line-height: 48px;}
.close-box{overflow: hidden; width: 360px;margin: -35px auto 20px auto;}
.close-box a{cursor: pointer;}
.close-box .returnIcon{float: left;}
.close-box .closeIcon{float: right;}
.verificationCodema{width: 300px; margin: 20px auto 0 auto; overflow: hidden;}
.verificationCodema .verificationCode01{float: left; height: 50px;line-height: 50px; background-color: #fff; display: block;
	width: 150px; border: solid 1px #f4f4f4; padding-left: 10px;}
.verificationCodema .verificationCode02{float: right; line-height: 50px; background-color: #74dfe3;
	display: block; width: 130px; border: solid 1px #f4f4f4; color: white; font-size: 16px;}
.verificationCodema .verificationCode02:hover{ background-color: #5dd2d6;}
#registerPa{margin:20px auto 10px auto;}
#mimaPrompt{font-size: 10px;color: #dcdcdc; margin-left: 50px;}
#invitationCode-box{margin:10px auto 20px auto;}
#register-btn{width: 300px; height: 50px; margin: 20px auto;line-height: 48px;background-color: #ff6ba3;
	color: white; font-size: 20px; display: block;}
#register-btn:hover{background-color:#f25691;}
.tongyi-box{margin-left: 50px;}
.tongyi{color: #969696;}
#checkbox{vertical-align: middle; margin-top: -1px;}
/* 注册 end */
/* 找回密码 */
.retrievePassword-box{width: 100%; height: 100%; background-color:rgba(0,0,0,0.3); position: fixed; z-index: 1000;
 	display: none;}
.retrievePassword-small-box{width: 400px; height: 430px; background-color: #f9f9f9; border-radius: 5px;
	margin: 60px auto 0 auto; box-shadow: 0px 0px 30px #505050; padding:60px 0;}
.retrievePassword-small-box h2{text-align: center; color: #ff6ba3; margin-bottom: 20px;}
.accountNumber{width: 280px; height: 50px; border: solid 1px #f4f4f4; margin: 20px auto; padding: 0 10px;
	background-color: #fff;}
.accountNumber input{width: 280px; line-height: 48px;}
.close-box{overflow: hidden; width: 360px;margin: -35px auto 20px auto;}
.close-box .returnIcon{float: left;}
.close-box .closeIcon{float: right;}
.verificationCode{width: 300px; margin: 20px auto 0 auto; overflow: hidden;}
.verificationCode .verificationCode01{float: left; height: 50px;line-height: 50px; background-color: #fff; display: block;
	width: 150px; border: solid 1px #f4f4f4; padding-left: 10px;}
.verificationCode .verificationCode02{float: right; line-height: 50px; background-color: #74dfe3;
	display: block; width: 130px; border: solid 1px #f4f4f4; color: white; font-size: 16px;}
.verificationCode .verificationCode02:hover{ background-color: #5dd2d6;}
#retrievePasswordPa{margin:20px auto 10px auto;}
#mimaPrompt{color: #dcdcdc; margin-left: 50px;}
#invitationCode-box{margin:10px auto 20px auto;}
.retrievePassword-btn input{width: 300px; height: 50px; margin: 20px auto;line-height: 48px;background-color: #ff6ba3;
	color: white; font-size: 20px; display: block;}
.retrievePassword-btn input:hover{background-color:#f25691;}
.tongyi-box{margin-left: 50px;}
.tongyi{color: #969696;}
#checkbox{vertical-align: middle; margin-top: -1px;}
#retrievePassword-btn{width: 300px; height: 50px; margin: 20px auto;line-height: 48px;background-color: #ff6ba3;
	color: white; font-size: 20px; display: block;}
#retrievePassword-btn:hover{background-color:#f25691;}
/* 找回密码 end */
/* nav */
.nav-box{width: 100%; background-color: #ff6ba3;}
.nav-box ul{width: 1100px;overflow: hidden;margin: 0 auto;}
.nav-box ul li{float: left;width: 220px;height: 50px;line-height: 50px;font-size: 20px;color: white;
	background-color: #ff6ba3;}
#download{background-color: #74dfe3;}
.nav-box a{color: white; display: block;text-align: center;}
.nav-box a:hover{width: 220px; height: 50px; line-height: 50px; background-color: #f25691;}
.nav-box li #download:hover{background-color: #5dd2d6;}
/* nav end */
/* nav-02 */
.nav-02{ width: 220px; height: 350px; background-color: rgba(0,0,0,0.5);
	position: absolute; z-index: 500; }
.nav-02 a{ display: block; width: 220px; height: 35px; line-height: 35px; color:#fff;
		font-size: 14px; font-weight: bold;text-align: center;}
.li-hover{ width: 220px; height: 35px; line-height: 35px;color:#ff6ba3;
		font-size: 14px;background-color: rgba(255,255,255,1);}
.li-hover a{ width: 220px; height: 35px;line-height: 35px;color:#ff6ba3;
		font-size: 14px;}
.nav-02 ul{ text-align: center;}
/* 子分类 */
.nav-0201{display: none; height: 350px; background-color: rgba(255,255,255,1);
	position: absolute; z-index: 500; margin-left: 220px; padding: 0 10px;}
.nav-0201 a{ display: block; height: 35px; line-height: 35px; color: black; padding: 0 10px;
	font-size: 14px; text-align: center;}
.nav-0201 ul li a:hover{ height: 35px;line-height: 35px; color:#ff6ba3;text-decoration: underline;
		font-size: 14px;}
/* 子分类 */
/* nav-02 end */
/* banner */
.big-box{border-bottom: solid 1px #dcdcdc; background-color: #aacaa4; width: 100%;
	transition:all 1s; position: relative;}
.ck-slide{width: 1100px; margin: 0 auto;position: relative;}
.small-box{ overflow: hidden;}
.ck-slide ul .ck-slide-wrapper li{float: left;}
.ck-slide-wrapper li img{width: 880px; margin-left: 220px;}
/* banner end */
/* 小美陪护banner */
.activity-banner-box{width: 1100px; margin: 20px auto 0 auto; overflow: hidden;}
.activity-1,.activity-2,.activity-3{width: 360px; height: 160px; float: left;border-radius: 5px;border: 0px;
	display: block;}
.activity-1{background-image: url(http://7xlcaq.com2.z0.glb.qiniucdn.com/ry-activity-1.jpg);}
.activity-2{background-image: url(http://7xlcaq.com2.z0.glb.qiniucdn.com/ry-activity-2.jpg);margin-left: 10px;}
.activity-3{background-image: url(http://7xlcaq.com2.z0.glb.qiniucdn.com/ry-activity-3.jpg);margin-left: 10px;}
/* 小美陪护banner end */
/* 商品详情 */
.tit-box{width: 1100px; margin: 20px auto 0 auto; overflow: hidden;}
.tit-left .strong-tit{width: 160px; height: 40px; line-height: 40px; background-color: #ff6ba3; float: left;
	color: white;text-align: center;font-size: 20px;}
.tit-right{width: 940px; height: 38px; border-bottom: 2px solid #ff6ba3; float: left;}
.subsidy-box{width: 1100px;margin: 0 auto 20px auto;}
.subsidy-box ul{margin: 20px 0 0 0; overflow: hidden;}
.subsidy-box ul li{float:left; margin-left:20px;width: 258px; height: 368px;border: solid 1px #dcdcdc;
	background-image: url(http://7xlcaq.com2.z0.glb.qiniucdn.com/ry-changxiang9zhe-bg.jpg); position: relative; overflow: hidden;}
.tehui{margin-left: 200px;}
.subsidy-box .first-li{margin: 0;}
.details-bg{width: 238px; height: 181px; background-color: white; position: absolute; top:233px;
	padding:10px; float: left; transition:all 0.5s;}
.subsidy-box .details{width: 238px; height: 64px; margin:5px 0; color: #969696;}
.subsidy-box .jiage{margin: 0; font-size: 12px; width: 100%;}
.subsidy-box .fu{color: #ff6ba3; font-size: 12px;}
.subsidy-box strong{color:#ff6ba3; font-size: 20px;}
.subsidy-box .originalPrice{margin-left: 5px; color: #dcdcdc; text-decoration: line-through;}
.subsidy-box .subsidy{ display: block; margin-top: -5px;*margin-top: -33px; color: #ff6ba3; width: 100px; height: 26px;
	line-height: 26px; float: right; position: relative; border:solid 1px #ff6ba3;}
.subsidyPriceBg{background-color: #ff6ba3; display: block; width: 36px; height: 26px; position: absolute;
	color: white; padding-left: 5px;}
.subsidy-box .subsidyPrice{position: absolute; right: 10px;}
.line-dcdcdc{border-bottom: solid 1px #dcdcdc; margin-top: 10px;}
.subsidy-box ul li a{display:block; width: 238px; height: 40px; background-color: #74dfe3;
	color: white;border-radius: 2px; font-size: 16px; margin: 10px 0;text-align: center;
	line-height: 40px;}
.subsidy-box ul li a:hover{background-color: #5dd2d6;}
/* 商品详情 end */
/* 关于我们 */
.about-box{width: 1100px;margin: 0 auto 20px auto;}
.about-box ul{overflow: hidden;}
.about-box ul li{width: 274px; text-align: center; margin-top: 20px;
	border-right: solid 1px #dcdcdc;float: left;}
.about-box ul li h3{margin:10px 0;}
.about-box ul li p{color: #969696;}
.about-box .last-li{border:none;}
/* 关于我们 end */
/* footer */
footer{width: 100%;height: 100px; background-color: #323232;text-align: center;color: #dcdcdc;
	font-size: 16px;line-height: 40px;padding-top:20px;}
/* footer end */


.QR{
	width:100%;
	height:100%;
	text-align: center;
	position: fixed;
	top:0;
	background:rgba(0,0,0,0.3);
	z-index: 1000;
	display:none;
}
.QR img{
	margin-top: 200px;
}