.alert{
	height: 0.3rem;
	text-align: center;
	font-family: "微软雅黑";
	color: #fff;
	font-size: 0.12rem;
	background: #FD5A9C;
	line-height: 0.3rem;
}
.residue{
	background: #fff;
}
.residue img{
	width: 100%;
}
.my{
	height: auto;
	background: #fff;
	overflow: hidden;
}

.my div label{
	float: left;
	width: 20%;
	color: #333;
	font-size: 0.13rem;
	font-family: "微软雅黑";
	
}
.my div input{
	float:left;
	text-align: right;
	width: 70%;
	background: none;
	border: none;
	margin-bottom: 0;
	margin-top: 0.04rem;
}
.my div{
	clear: both;
	height: 0.4rem;
	margin: 0rem 0.18rem;
	line-height: 0.4rem;
	background: url(../img/right.png) no-repeat center right;
	background-size: 4% 50%;
	
}
.my .line{
	border-bottom: 1px solid #CCCCCC;
}







