.alreadyPay {
	width: 100%;
	height: 50px;
	background: #fff;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
}

.alreadyPay p {
	float: left;
	font-family: "微软雅黑";
	color: #999;
	font-size: 10px;
	text-align: center;
	margin-top: 14px;
}

.alreadyPay .money {
	width: 50%;
	text-align: left;
	font-size: 14px;
	padding-left: 16px;
}

.alreadyPay .dateRecord {
	width: 30%;
	text-align: right;
}

.alreadyPay .if {
	width: 10%;
}

.alreadyPay .help {
	float: left;
	width: 12px;
	height: 12px;
	background: url(../img/help.png) no-repeat center;
	border-radius: 12px;
	background-size: 100% 100%;
	margin-top: 18px;
}

.alreadyPay:active {
	background: #F5F5F5;
}