img {
	border: 0;
}
.ck-slide ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.ck-slide ul.ck-slide-wrapper li a{
	line-height:0px;
	display:block;
}
.ck-slide .ck-prev, .ck-slide .ck-next {
	position: absolute;
	top: 50%;
	z-index: 2;
	width: 35px;
	height: 70px;
	margin-top: -35px;
	border-radius: 100px;
	opacity: 0.02;
	background: red;
	text-indent: -9999px;
	background-repeat: no-repeat;
	transition: opacity 0.2s linear 0s;
}
.ck-slide .ck-prev {
	left: 20px;
	background: url(../img/arrow-left.png) #000 50% no-repeat;
}
.ck-slide .ck-next {
	right: 20px;
	background: url(../img/arrow-right.png) #000 50% no-repeat;
}
.ck-slidebox {
	position: absolute;
	left: 50%;
	bottom: 20px;
	z-index: 30;
}
.ck-slidebox ul {
	height: 20px;
	padding: 0 4px;
	border-radius: 8px;
	background: rgba(0,0,0,0.2);
}
.ck-slidebox ul li {
	float: left;
	height: 12px;
	margin: 4px 5px;
}
.ck-slidebox ul li em {
	display: block;
	width: 12px;
	height: 12px;
	border-radius: 100%;
	background-color: rgba(255,255,255,0.3);
	text-indent: -9999px;
	cursor: pointer;
}
.ck-slidebox ul li.current em {
	background-color: #fff;
}
.ck-slidebox ul li em:hover {
	background-color: #fff;
}
