.alert{
	height: 0.3rem;
	text-align: center;
	font-family: "微软雅黑";
	color: #fff;
	font-size: 0.12rem;
	background: #FD5A9C;
	line-height: 0.3rem;
}
.tips{
	text-align: center;
	font-size: 0.12rem;
	color: #999;
	margin: 0.1rem 0.45rem;
	font-family:"微软雅黑" ;
}
.needImg{
	width: 100%;
	border-bottom: 1px solid #ccc;
	height: 0.4rem;
	background: #fff;
}
.needImg input{
	border: none;
	margin: 0;
	padding: 0;
	height: 0.4rem;
	background: none;
	float:left;
	width: 70%;
	margin-left: 0.3rem;
	font-family: "微软雅黑";
	font-size: 0.12rem;
	
}
.needImg label{
	width: 0.4rem;
	height: 0.4rem;
	float: right;
	background: url(../img/上传照片.png) no-repeat center;
	background-size: 60% 50%;
}
.other{
	width: 100%;
	border-bottom: 1px solid #ccc;
	height: 0.4rem;
	background: #fff;
}
.other input{
	border: none;
	margin: 0;
	padding: 0;
	height: 0.4rem;
	background: none;
	float:left;
	width: 70%;
	margin-left: 0.3rem;
	font-family: "微软雅黑";
	font-size: 0.12rem;
	
}

.agree{
	margin: 0.2rem;
}
.agree input{
	float: left;
}
.agree p{
	font-size: 0.1rem;
	font-family: "微软雅黑";
	height: 0.1rem;
	line-height: 0.1rem;
}
.agree p a{
	font-size: 0.1rem;
	font-family: "微软雅黑";
}
.middle{
	width: 2.1rem;
	margin-left: auto;
	margin-right: auto;
}
button{
	clear: both;
	width: 2.1rem;
	height: 0.33rem;
	background: #fd5a9c;
	margin: 0rem auto;
	color: #fff;
	font-size: 0.12rem;
	font-family: "微软雅黑";
	border-radius: 0.2rem;
	border: none;
	margin: 0.1rem 0rem;
}