*{outline: none; font-family: "Microsoft Yahei",Helvetica,Arial,sans-serif;border:0px;}
body,ul,li{margin: 0;padding: 0;font-size: 14px;}
h1,h2,h3,h4,h5,h6,p{margin: 0;padding: 0;}
li{list-style: none;}
a{text-decoration: none;}
header,footer{display: block;}
/* 返回顶部 */
.backToTop-box{ position: fixed;right: 10px; bottom:20px; z-index: 10;}
.backToTop{width: 40px; height: 40px;display: block;}
.backToTopImg{width: 100%; height: 100%;background-size: 40px 40px;background-image: url(http://7xlcaq.com2.z0.glb.qiniucdn.com/ry-backToTop-01.png);}
.backToTopImg:hover{cursor:pointer;background-image: url(http://7xlcaq.com2.z0.glb.qiniucdn.com/ry-backToTop-02.png);}
.download-APP{ margin-top: 10px; width: 40px; height: 72px; display: block;}
.downImg{width: 100%; height: 100%;border:0px;background-size: 40px 70px;background-image: url(http://7xlcaq.com2.z0.glb.qiniucdn.com/ry-download-APP-01.png);}
.downImg:hover{background-image: url(http://7xlcaq.com2.z0.glb.qiniucdn.com/ry-download-APP-02.png)}
/* 返回顶部 end */
/* 顶部 */
header{width: 1100px;margin: 0 auto;overflow: hidden;}
header img{border:0px;}
header a{float: left;margin: 10px 40px 10px 0;}
header form{float: left;margin:24px;}
header .search{width: 318px; height: 30px;line-height:26px;border:solid 1px #ff6ba3;padding-left:10px;
	border-radius: 5px 0 0 5px;}
header .submit{width: 78px;height: 34px;line-height: 28px; background-color: #ff6ba3;
	border-radius: 0 5px 5px 0; color: white; margin-left: -5px; vertical-align: top; border: 0px;}
header .tell{ float:right; margin: 24px 0;}
header .tell img{width: 16px; height: 16px; padding-top: 6px; margin-left: 5px; float: left;
	vertical-align: middle;}
header .tell span{color:#969696; font-size: 16px; padding-top: 3px; margin-left: 5px; float: left;}
header .tell a{color: #969696; margin: 4px 10px 0 0; float: left;}
header strong{color:#ff6ba3; font-size: 20px; padding-top: 1px; float: left;}
#login{ color: #ff6ba3;cursor:pointer;}
/* 顶部 end */
/* 登录 */
form{margin-top: -20px;}
.close{margin: -40px 0 20px 350px;}
.login-box{width: 100%; height: 100%; background-color:rgba(0,0,0,0.3); position: fixed; z-index: 1000;
	display: none;}
.login-small-box{width: 400px; height: 430px; background-color: #f9f9f9; border-radius: 5px;
	margin: 60px auto 0 auto; box-shadow: 0px 0px 30px #505050; padding:60px 0;cursor: pointer;}
.login-small-box h2{text-align: center; color: #ff6ba3; margin-bottom: 50px;}
.accountNumber{width: 280px; height: 50px; border: solid 1px #f4f4f4; margin: 20px auto; padding: 0 10px;
	line-height: 50px; background-color: #fff;}
.login-small-box .forgetPassword{display: block; margin: 20px 0 0 280px; color: #969696;}
.login-btn input{width: 300px; height: 50px; margin: 20px auto;line-height: 48px;background-color: #ff6ba3;
	color: white; font-size: 20px; display: block;}
.login-btn input:hover{background-color:#f25691;}
.login-small-box .register{display: block; margin: 20px auto; color: #969696;border: 1px solid #dcdcdc;
	line-height: 30px; border-radius: 3px; width: 50px; text-align: center;}
.login-small-box .register:hover{background-color: #f4f4f4;}
/* 登录 end */
/* 注册 */
.register-box{width: 100%; height: 100%; background-color:rgba(0,0,0,0.3); position: fixed; z-index: 1000;
 	display: none;}
.register-small-box{width: 400px; height: 430px; background-color: #f9f9f9; border-radius: 5px;
	margin: 60px auto 0 auto; box-shadow: 0px 0px 30px #505050; padding:60px 0;}
.register-small-box h2{text-align: center; color: #ff6ba3; margin-bottom: 20px;}
.accountNumber{width: 280px; height: 50px; border: solid 1px #f4f4f4; margin: 20px auto; padding: 0 10px;
	background-color: #fff;}
.accountNumber input{width: 280px; line-height: 48px;}
.close-box{overflow: hidden; width: 360px;margin: -35px auto 20px auto;}
.close-box a{cursor: pointer;}
.close-box .returnIcon{float: left;}
.close-box .closeIcon{float: right;}
.verificationCodema{width: 300px; margin: 20px auto 0 auto; overflow: hidden;}
.verificationCodema .verificationCode01{float: left; height: 50px;line-height: 50px; background-color: #fff; display: block;
	width: 150px; border: solid 1px #f4f4f4; padding-left: 10px;}
.verificationCodema .verificationCode02{float: right; line-height: 50px; background-color: #74dfe3;
	display: block; width: 130px; border: solid 1px #f4f4f4; color: white; font-size: 16px;}
.verificationCodema .verificationCode02:hover{ background-color: #5dd2d6;}
#registerPa{margin:20px auto 10px auto;}
#mimaPrompt{font-size: 10px;color: #dcdcdc; margin-left: 50px;}
#invitationCode-box{margin:10px auto 20px auto;}
#register-btn{width: 300px; height: 50px; margin: 20px auto;line-height: 48px;background-color: #ff6ba3;
	color: white; font-size: 20px; display: block;}
#register-btn:hover{background-color:#f25691;}
.tongyi-box{margin-left: 50px;}
.tongyi{color: #969696;}
#checkbox{vertical-align: middle; margin-top: -1px;}
/* 注册 end */
/* 找回密码 */
.retrievePassword-box{width: 100%; height: 100%; background-color:rgba(0,0,0,0.3); position: fixed; z-index: 1000;
 	display: none;}
.retrievePassword-small-box{width: 400px; height: 430px; background-color: #f9f9f9; border-radius: 5px;
	margin: 60px auto 0 auto; box-shadow: 0px 0px 30px #505050; padding:60px 0;}
.retrievePassword-small-box h2{text-align: center; color: #ff6ba3; margin-bottom: 20px;}
.accountNumber{width: 280px; height: 50px; border: solid 1px #f4f4f4; margin: 20px auto; padding: 0 10px;
	background-color: #fff;}
.accountNumber input{width: 280px; line-height: 48px;}
.close-box{overflow: hidden; width: 360px;margin: -35px auto 20px auto;}
.close-box .returnIcon{float: left;}
.close-box .closeIcon{float: right;}
.verificationCode{width: 300px; margin: 20px auto 0 auto; overflow: hidden;}
.verificationCode .verificationCode01{float: left; height: 50px;line-height: 50px; background-color: #fff; display: block;
	width: 150px; border: solid 1px #f4f4f4; padding-left: 10px;}
.verificationCode .verificationCode02{float: right; line-height: 50px; background-color: #74dfe3;
	display: block; width: 130px; border: solid 1px #f4f4f4; color: white; font-size: 16px;}
.verificationCode .verificationCode02:hover{ background-color: #5dd2d6;}
#retrievePasswordPa{margin:20px auto 10px auto;}
#mimaPrompt{color: #dcdcdc; margin-left: 50px;}
#invitationCode-box{margin:10px auto 20px auto;}
.retrievePassword-btn input{width: 300px; height: 50px; margin: 20px auto;line-height: 48px;background-color: #ff6ba3;
	color: white; font-size: 20px; display: block;}
.retrievePassword-btn input:hover{background-color:#f25691;}
.tongyi-box{margin-left: 50px;}
.tongyi{color: #969696;}
#checkbox{vertical-align: middle; margin-top: -1px;}
#retrievePassword-btn{width: 300px; height: 50px; margin: 20px auto;line-height: 48px;background-color: #ff6ba3;
	color: white; font-size: 20px; display: block;}
#retrievePassword-btn:hover{background-color:#f25691;}
/* 找回密码 end */
/* nav */
.nav-box{width: 100%; background-color: #ff6ba3;text-align: center; margin-bottom: 20px;}
.nav-box ul{width: 1100px;overflow: hidden;margin: 0 auto;}
.nav-box ul li{float: left;width: 220px;height: 50px;line-height: 50px;font-size: 20px;color: white;
	background-color: #ff6ba3;}
#download{background-color: #74dfe3;}
.nav-box a{color: white; display: block;}
.nav-box a:hover{width: 220px; height: 50px; line-height: 50px; background-color: #f25691;}
.nav-box li #download:hover{background-color: #5dd2d6;}
/* nav end */
.tit-box{width: 1100px; margin: 0 auto; overflow: hidden;}
.tit-left .strong-tit{width: 160px; height: 40px; line-height: 40px; background-color: #ff6ba3; float: left;
	color: white;text-align: center;font-size: 20px;}
.tit-right{width: 940px; height: 38px; border-bottom: 2px solid #ff6ba3; float: left;}
/* 商品价格部分 */
.shangpintu-small-box{width: 1100px;margin: 20px auto 0 auto; overflow: hidden;}
.shangpintu-small-box .img-box{width: 398px; height: 368px; background-image: url(http://7xlcaq.com2.z0.glb.qiniucdn.com/ry-shangpin-img.jpg);
	border: solid 1px #dcdcdc; float: left;}
.xinxi-box{float: left; margin-left: 20px;}
.shangpintu-box .yiyuan{color: #969696; margin-top:10px;}
.shangpintu-box .jiage-box{margin-top: 56px; overflow: hidden;}
.shangpintu-box .biaoqian-1{display: block; float: left; color: white;width: 50px; height: 18px;
	line-height: 18px; background-color: #ff6ba3; border-radius: 2px;text-align: center;
	font-size: 10px;}
.shangpintu-box .biaoqian-2{display: block; float: left; color: white;width: 50px; height: 18px;
	line-height: 18px; background-color: #ff6ba3; border-radius: 2px;text-align: center;
	font-size: 10px; margin-left: 10px;}
.shangpintu-box .biaoqian-3{display: block; float: left; color: white;width: 50px; height: 18px;
	line-height: 18px; background-color: #ff6ba3; border-radius: 2px;text-align: center;
	font-size: 10px; margin-left: 10px;}
.jiage{width: 500px; height: 30px; margin-top: 10px;}
.fu{color: #ff6ba3; font-size: 12px;}
.shangpintu-box strong{color:#ff6ba3; font-size: 28px;}
.shangpintu-box .yuanjia{margin-left: 5px; color: #dcdcdc; text-decoration: line-through;}
.shangpintu-box .butie{ display: inline-block; color: #ff6ba3; width: 100px; height: 26px;
	line-height: 26px; position: relative; border:solid 1px #ff6ba3; margin-left: 30px; margin-top: 5px;}
.butiejiageBg{background-color: #ff6ba3; display: block; width: 36px; height: 26px; position: absolute;
	color: white; padding-left: 5px;}
.shangpintu-box .butiejiage{ position: absolute; right: 10px;}
.fenqi-box{ margin-top: 10px; width: 400px;}
.dashed{ width: 400px; height: 1px; border-top:dashed 1px #dcdcdc;}
.fenqi-box ul{background-color: #f9f9f9; padding:5px; margin:5px 0;}
.shangpintu-box .fenqi{color: #969696; margin: 10px;}
.shangpintu-box .fenqi-box ul li{margin-top: 5px; color: #ff6ba3;}
.xiadan-box{overflow: hidden; width: 200px; height: 40px; border-radius: 3px; margin-top: 10px;}
.shangpintu-box .button{ width: 200px; height: 40px; background-color: #74dfe3;
	font-size: 20px;line-height: 40px; color: white; text-align: center; display: block;
	transition:all 0.3s;}
.shangpintu-box .button-app{ width: 200px; height: 40px; background-color: #5dd2d6;
	font-size: 20px;line-height: 40px; color: white; text-align: center; display: block;
	transition:all 0.3s;}
/* 商品价格部分 end */
/* 商品信息部分 */
.shangpinxinxi{width: 1100px; margin: 0 auto;}
#small-box ul{margin-left: 0;}
.shangpinxinxi h3{margin-top: 10px;}
.shangpinxinxi h3 img{margin-right: 10px;}
.shangpinxinxi .small-box{margin-left: 20px;}
.shangpinxinxi ul{margin:10px 0 10px 20px;}
.shangpinxinxi .small-box .p-01{margin: 10px 0;}
.shangpinxinxi .decimal li{list-style: decimal;}
/* 商品信息部分 end */
/* footer */
footer{width: 100%;height: 100px; background-color: #323232;text-align: center;color: #dcdcdc; font-size: 16px;
	line-height: 40px;padding-top:20px; margin-top:20px;}
/* footer end */